.question-span {
  font-size: 21px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
}

.questionLength-span {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: capitalize;
  font-size: 17px;
}

.questionContainer-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 600px;
}

.question-button {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  text-transform: capitalize;
  margin-right: 10px;
  margin-left: 10px;
}

.h-70 {
  height: 70px;
}

.back-component {
  position: absolute;
  right: 25px;
  top: 15px;
}

.back-component span {
  cursor: pointer;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
}

.list-container {
  width: 550px;
  height: 515px;
  -webkit-box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3),
    0 2px 6px 2px rgba(60, 64, 67, 0.15);
  overflow-y: scroll;
  max-width: 100%;
  padding: 10px;
}

.list-container li {
  max-width: 100%;
  margin-top: 10px;
  cursor: pointer;
  font-family: "Open Sans";
  font-size: 15px;
  width: 360px;
  letter-spacing: 0.09px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border: 1px solid #dfe1e5;
  border-radius: 5px;
  padding: 10px;
}

.bg-active {
  background-color: green;
  color: #fff;
}

.bg-ignore {
  background-color: gray;
}

#modal::-webkit-scrollbar {
  width: 8px;
}

/* Track */
#modal::-webkit-scrollbar-track {
  border-radius: 10px;
}

/* Handle */
#modal::-webkit-scrollbar-thumb {
  background: #3e4042b6;
  border-radius: 10px;
}

/* Handle on hover */
#modal::-webkit-scrollbar-thumb:hover {
  background: rgba(62, 69, 69, 0.775);
}

.question-button:disabled {
  opacity: 0.5;
}

.question-button:disabled:hover,
.question-button:disabled:focus {
  background-color: #0d6efd !important;
}

.resp-button {
  color: white;
  background-color: rgba(17, 24, 39, 1);
  border-radius: 100%;
  width: 4rem;
  height: 4rem;
  position: fixed;
  display: none !important;
  right: 1rem;
  bottom: 1rem;
  border: none;
  outline: none;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s ease;
}

.resp-button:hover {
  background-color: rgba(17, 24, 39, 0.9);
}

@media (max-width: 1024px) {
  .list-container {
    opacity: 0;
    pointer-events: none;
    width: 0px;
    height: 0px;
    padding: 0px;
  }
  .resp-button {
    display: flex !important;
  }
}
